{% include "./header.html" %}

<div class="row grey darken-3 container-shadow" style="margin: 10px;">
  <div class="col s12">
    <ul class="tabs grey darken-3 tabs-fixed-width" style="overflow: hidden;">
      <li class="tab col s6"><a href="#accounts">Linked Accounts</a></li>
      <li class="tab col s6"><a href="#transactions">Transactions</a></li>
    </ul>
  </div>
</div>
<div class="row" style="margin: 10px;">
  <div id="accounts" class="col s12">
    <div class="col s12 grey darken-3 center container-shadow" style="margin: 10px 0;">
      <h4>You have {{ balance }} Twoos.</h4>
    </div>
    <div class="col l4">
      <ul class="collection with-header" style="border: none;">
        <li class="collection-header center grey darken-3 container-shadow"><img src="/img/reddit.png">
        <h4>Reddit</h4></li>
        {% if reddit.id %}
          <li class="collection-item grey darken-3"><h5 class="center">Linked</h5></li>
          <li class="collection-item grey darken-3">
            <table>
              <tbody>
                <tr>
                  <td style="padding: 5px;"><strong>Reddit ID:</strong></td>
                  <td style="padding: 5px;">{{ reddit.id }}</td>
                </tr>
                <tr>
                  <td style="padding: 5px;"><strong>Reddit Name:</strong></td>
                  <td style="padding: 5px;">{{ reddit.name }}</td>
                </tr>
              </tbody>
            </table>
          </li>
          <li class="collection-item grey darken-3"><a href="/auth/logout/" class="btn-large waves-effect waves-purple grey darken-2 white-text" style="width: 100%;">Logout</a></li>
        {% else %}
          <li class="collection-item grey darken-3"><a href="/auth/redirect/reddit/" class="btn-large waves-effect waves-purple grey darken-2 white-text" style="width: 100%;">Link Reddit</a></li>
        {% endif %}
      </ul>
    </div>
    <div class="col l4">
      <ul class="collection with-header" style="border: none;">
        <li class="collection-header center grey darken-3 container-shadow"><img src="/img/twitch.png">
        <h4>Twitch</h4></li>
        {% if twitch.id %}
          <li class="collection-item grey darken-3"><h5 class="center">Linked</h5></li>
          <li class="collection-item grey darken-3">
            <table>
              <tbody>
                <tr>
                  <td style="padding: 5px;"><strong>Twitch ID:</strong></td>
                  <td style="padding: 5px;">{{ twitch.id }}</td>
                </tr>
                <tr>
                  <td style="padding: 5px;"><strong>Twitch Name:</strong></td>
                  <td style="padding: 5px;">{{ twitch.name }}</td>
                </tr>
              </tbody>
            </table>
          </li>
          <li class="collection-item grey darken-3"><a href="/auth/disconnect/twitch/" class="btn-large waves-effect waves-purple grey darken-2 white-text" style="width: 100%;">Unlink Twitch</a></li>
        {% else %}
          <li class="collection-item grey darken-3"><a href="/auth/redirect/twitch/" class="btn-large waves-effect waves-purple grey darken-2 white-text" style="width: 100%;">Link Twitch</a></li>
        {% endif %}
      </ul>
    </div>
    <div class="col l4">
      <ul class="collection with-header" style="border: none;">
        <li class="collection-header center grey darken-3 container-shadow"><img src="/img/discord.png">
        <h4>Discord</h4></li>
        {% if discord.id %}
          <li class="collection-item grey darken-3"><h5 class="center">Linked</h5></li>
          <li class="collection-item grey darken-3">
            <table>
              <tbody>
                <tr>
                  <td style="padding: 5px;"><strong>Discord ID:</strong></td>
                  <td style="padding: 5px;">{{ discord.id }}</td>
                </tr>
                <tr>
                  <td style="padding: 5px;"><strong>Discord Name:</strong></td>
                  <td style="padding: 5px;">{{ discord.name }}</td>
                </tr>
              </tbody>
            </table>
          </li>
          <li class="collection-item grey darken-3"><a href="/auth/disconnect/discord/" class="btn-large waves-effect waves-purple grey darken-2 white-text" style="width: 100%;">Unlink Discord</a></li>
        {% else %}
          <li class="collection-item grey darken-3"><a href="/auth/redirect/discord/" class="btn-large waves-effect waves-purple grey darken-2 white-text" style="width: 100%;">Link Discord</a></li>
        {% endif %}
      </ul>
    </div>
    <div class="col s12 grey darken-3 container-shadow">
      <h4 class="center">Flair Text & TwitchDB Flair</h4>
      {% if intro == "no_twitch" %}
        <p class="center">You must link your Twitch account to use TwitchDB.</p>
      {% elseif intro == "no_account" %}
        <p class="center">Your linked Twitch account doesn't exist on TwitchDB.</p>
      {% elseif intro == "no_intro" %}
        <p class="center">Your linked Twitch account doesn't appear to have an intro on TwitchDB.</p>
      {% elseif intro == "no_account" %}
        <p class="center">Your linked Twitch account doesn't exist on TwitchDB.</p>
      {% elseif intro == "pending" %}
        <p class="center">Your intro is pending on TwitchDB.</p>
      {% elseif intro == "rejected" %}
        <p class="center">Your intro was rejected on TwitchDB.</p>
      {% elseif intro == "approved" %}
        <p class="center">Your intro was approved on TwitchDB. You may use the TwitchDB intro flairs and instead of Twoos.</p>
        <form class="col s12" id="choose-flair" data-initial="{{ choice }}" data-type="{{ type }}" data-balance="{{ balance }}">
          <div class="col s6">
            <p>
              <input name="flair-type" type="radio" id="flair-twoos" {% if !choice || choice == "twoos" %}checked{% endif %} />
              <label for="flair-twoos" class="white-text">Twoos</label>
            </p>
            <p>
              <input name="flair-type" type="radio" id="flair-broadcaster" {% if choice == "broadcaster" %}checked{% endif %} />
              <label for="flair-broadcaster" class="white-text">Broadcaster</label>
            </p>
            <p>
              <input name="flair-type" type="radio" id="flair-creative" {% if choice == "creative" %}checked{% endif %} />
              <label for="flair-creative" class="white-text">Creative</label>
            </p>
            <p>
              <input name="flair-type" type="radio" id="flair-gaming" {% if choice == "gaming" %}checked{% endif %} />
              <label for="flair-gaming" class="white-text">Gaming</label>
            </p>
          </div>
          <div class="col s6">
            <p>
              <input name="flair-type" type="radio" id="flair-irl" {% if choice == "irl" %}checked{% endif %} />
              <label for="flair-irl" class="white-text">IRL</label>
            </p>
            <p>
              <input name="flair-type" type="radio" id="flair-music" {% if choice == "music" %}checked{% endif %} />
              <label for="flair-music" class="white-text">Music</label>
            </p>
            <p>
              <input name="flair-type" type="radio" id="flair-eating" {% if choice == "eating" %}checked{% endif %} />
              <label for="flair-eating" class="white-text">Social Eating</label>
            </p>
          </div>
        </form>
      {% endif %}
      <div class="input-field col s6">
        <input id="flair-text" type="text" value="{{ flair }}" data-length="40">
        <label for="flair-text">Flair Text</label>
      </div>
      <div class="col s6">
        <a id="update-flair" href="#" class="btn waves-effect waves-purple grey darken-2 white-text" data-username="{{ reddit.name }}" style="margin-top: 15px; width: 100%;">Update</a>
      </div>
      <div class="col s12 center">
        <p><a href="https://www.reddit.com/r/Twitch/wiki/subreddit/flairs" target="_blank">Click here to see what the flairs look like on /r/Twitch!</a>
      </div>
    </div>
  </div>
  <div id="transactions" class="col s12 grey darken-3 container-shadow">
    <table>
      <thead class="row">
        <th class="col s2">ID</th>
        <th class="col s2">Date</th>
        <th class="col s2">From</th>
        <th class="col s2">Title</th>
        <th class="col s2">Description</th>
        <th class="col s2">Difference</th>
      </thead>
      <tbody>
        {% for record in data %}
          {% if record.length === 1 %}
            <tr class="row" style="margin: 10px 0;">
              <td class="col s2" style="margin: 10px 0;">{{ record[0].timestamp }}</td>
              <td class="col s2" style="margin: 10px 0;">{{ record[0].timestamp|date("d/m/Y") }}</td>
              <td class="col s2" style="margin: 10px 0;">{{ record[0].from }}</td>
              <td class="col s2" style="margin: 10px 0;">{{ record[0].title }}</td>
              {% if record[0].description %}
                <td class="col s2" style="margin: 10px 0;"><a href="#modal-description-{{ record[0].timestamp }}" class="btn waves-effect waves-purple grey darken-3 white-text modal-trigger">Here</a></td>
                <div id="modal-description-{{ record[0].timestamp }}" class="modal modal-fixed-footer grey darken-3">
                  <div class="modal-content">
                    <h4>{{ record[0].title }} - From {{ record[0].from }}</h4>
                    <p>{{ record[0].description }}</p>
                  </div>
                  <div class="modal-footer grey darken-3">
                    <a href="#!" class="modal-action modal-close waves-effect waves-purple btn-flat">Close</a>
                  </div>
                </div>
              {% else %}
                <td class="col s2" style="margin: 10px 0;">-</td>
              {% endif %}
              <td class="col s2">{{ record[0].difference }}</td>
            </tr>
          {% else %}
            <tr id="group-header" data-id="{{ record[0].timestamp }}" class="row" style="margin: 10px 0;">
              <td id="id-field" class="col s2" style="margin: 10px 0;"><i class="fa fa-chevron-right" aria-hidden="true"></i></td>
              <td class="col s2" style="margin: 10px 0;">{{ record[0].timestamp|date("d/m/Y") }}</td>
              <td class="col s2" style="margin: 10px 0;">{{ record[0].from }}</td>
              <td class="col s2" style="margin: 10px 0;">{{ record[0].title }}</td>
              <td class="col s2" style="margin: 10px 0;">List of Transactions</td>
              {% set difference = 0 %}
              {% for transactions in record %}
                {% set difference += transactions.difference %}
              {% endfor %}
              <td class="col s2" style="margin: 10px 0;">{{ difference }}</td>
            </tr>
            {% for transactions in record %}
              <tr class="group-data-{{ record[0].timestamp }} row" style="display: none; margin: 10px 0;">
                <td class="col s2" style="margin: 10px 0;">{{ transactions.timestamp }}</td>
                <td class="col s2" style="margin: 10px 0;">{{ transactions.timestamp|date("d/m/Y") }}</td>
                <td class="col s2" style="margin: 10px 0;">{{ transactions.from }}</td>
                <td class="col s2" style="margin: 10px 0;">{{ transactions.title }}</td>
                {% if transactions.description %}
                  <td class="col s2" style="margin: 10px 0;"><a href="#modal-description-{{ transactions.timestamp }}" class="modal-trigger">Here</a></td>
                  <div id="modal-description-{{ transactions.timestamp }}" class="modal modal-fixed-footer grey darken-3">
                    <div class="modal-content">
                      <h4>{{ transactions.title }} - From {{ transactions.from }}</h4>
                      <p>{{ transactions.description }}</p>
                    </div>
                    <div class="modal-footer grey darken-3">
                      <a href="#!" class="modal-action modal-close waves-effect waves-purple btn-flat">Close</a>
                    </div>
                  </div>
                {% else %}
                  <td class="col s2" style="margin: 10px 0;">-</td>
                {% endif %}
                <td class="col s2" style="margin: 10px 0;">{{ transactions.difference }}</td>
              </tr>
            {% endfor %}
          {% endif %}
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<script src="/js/account.js"></script>

{% include "./footer.html" %}
