{% include "./header.html" %}

<div class="row" style="margin: 10px;">
  <div class="col s12">
    <ul class="tabs grey darken-4 tabs-fixed-width" style="overflow: hidden;">
      <li class="tab col s6"><a href="#accounts">Linked Accounts</a></li>
      <li class="tab col s6"><a href="#transactions">Transactions</a></li>
    </ul>
  </div>
</div>
<div class="row" style="margin: 10px;">
  <div id="accounts" class="col s12">
    <div class="col l4">
      <ul class="collection with-header">
        <li class="collection-header center grey darken-3"><img src="/img/reddit.png">
        <h4>Reddit</h4></li>
        {% if reddit.id %}
          <li class="collection-item grey darken-3"><h5 class="center">Linked</h5></li>
          <li class="collection-item grey darken-3">
            <table>
              <tbody>
                <tr>
                  <td style="padding: 5px;"><strong>Reddit ID:</strong></td>
                  <td style="padding: 5px;">{{ reddit.id }}</td>
                </tr>
                <tr>
                  <td style="padding: 5px;"><strong>Reddit Name:</strong></td>
                  <td style="padding: 5px;">{{ reddit.name }}</td>
                </tr>
              </tbody>
            </table>
          </li>
          <li class="collection-item grey darken-3"><a href="/auth/logout/" class="btn-large waves-effect waves-purple grey darken-2 white-text" style="width: 100%;">Logout</a></li>
        {% else %}
          <li class="collection-item grey darken-3"><a href="/auth/redirect/reddit/" class="btn-large waves-effect waves-purple grey darken-2 white-text" style="width: 100%;">Link Reddit</a></li>
        {% endif %}
      </ul>
    </div>
    <div class="col l4">
      <ul class="collection with-header">
        <li class="collection-header center grey darken-3"><img src="/img/twitch.png">
        <h4>Twitch</h4></li>
        {% if twitch.id %}
          <li class="collection-item grey darken-3"><h5 class="center">Linked</h5></li>
          <li class="collection-item grey darken-3">
            <table>
              <tbody>
                <tr>
                  <td style="padding: 5px;"><strong>Twitch ID:</strong></td>
                  <td style="padding: 5px;">{{ twitch.id }}</td>
                </tr>
                <tr>
                  <td style="padding: 5px;"><strong>Twitch Name:</strong></td>
                  <td style="padding: 5px;">{{ twitch.name }}</td>
                </tr>
              </tbody>
            </table>
          </li>
          <li class="collection-item grey darken-3"><a href="/auth/disconnect/twitch/" class="btn-large waves-effect waves-purple grey darken-2 white-text" style="width: 100%;">Unlink Twitch</a></li>
        {% else %}
          <li class="collection-item grey darken-3"><a href="/auth/redirect/twitch/" class="btn-large waves-effect waves-purple grey darken-2 white-text" style="width: 100%;">Link Twitch</a></li>
        {% endif %}
      </ul>
    </div>
    <div class="col l4">
      <ul class="collection with-header">
        <li class="collection-header center grey darken-3"><img src="/img/discord.png">
        <h4>Discord</h4></li>
        {% if discord.id %}
          <li class="collection-item grey darken-3"><h5 class="center">Linked</h5></li>
          <li class="collection-item grey darken-3">
            <table>
              <tbody>
                <tr>
                  <td style="padding: 5px;"><strong>Discord ID:</strong></td>
                  <td style="padding: 5px;">{{ discord.id }}</td>
                </tr>
                <tr>
                  <td style="padding: 5px;"><strong>Discord Name:</strong></td>
                  <td style="padding: 5px;">{{ discord.name }}</td>
                </tr>
              </tbody>
            </table>
          </li>
          <li class="collection-item grey darken-3"><a href="/auth/disconnect/discord/" class="btn-large waves-effect waves-purple grey darken-2 white-text" style="width: 100%;">Unlink Discord</a></li>
        {% else %}
          <li class="collection-item grey darken-3"><a href="/auth/redirect/discord/" class="btn-large waves-effect waves-purple grey darken-2 white-text" style="width: 100%;">Link Discord</a></li>
        {% endif %}
      </ul>
    </div>
    <div class="col l12 grey darken-3" style="border: 1px solid #e0e0e0;">
      <h4 class="center">Flair Text & TwitchDB Flair</h4>
      {% if intro == "no_twitch" %}
        <p class="center">You must link your Twitch account to use TwitchDB.</p>
      {% elseif intro == "no_account" %}
        <p class="center">Your linked Twitch account doesn't exist on TwitchDB.</p>
      {% elseif intro == "no_intro" %}
        <p class="center">Your linked Twitch account doesn't appear to have an intro on TwitchDB.</p>
      {% elseif intro == "no_account" %}
        <p class="center">Your linked Twitch account doesn't exist on TwitchDB.</p>
      {% elseif intro == "pending" %}
        <p class="center">Your intro is pending on TwitchDB.</p>
      {% elseif intro == "rejected" %}
        <p class="center">Your intro was rejected on TwitchDB.</p>
      {% elseif intro == "approved" %}
        <p class="center">Your intro was approved on TwitchDB. You may use the TwitchDB intro flair and instead of Twoos.</p>
        <div class="switch center" style="margin-bottom: 15px;">
          <label style="color: #fff;">
            Use Twoos Flair
            <input type="checkbox" id="twitchdb">
            <span class="lever"></span>
            Use TwitchDB Flair
          </label>
        </div>
      {% endif %}
      <div class="input-field col s6">
        <input id="flair-text" type="text" value="{{ flair }}" data-length="40">
        <label for="flair-text">Flair Text</label>
      </div>
      <div class="col s6">
        <a id="update-flair" href="#" class="btn waves-effect waves-purple grey darken-2 white-text" data-username="{{ reddit.name }}" style="margin-top: 15px; width: 100%;">Update</a>
      </div>
    </div>
  </div>
  <div id="transactions" class="col s12">
    <table>
      <thead>
        <th>ID</th>
        <th>Date</th>
        <th>From</th>
        <th>Title</th>
        <th>Description</th>
        <th>Difference</th>
      </thead>
      <tbody>
        {% for record in data %}
          <tr>
            <td>{{ record.timestamp }}</td>
            <td>{{ record.timestamp|date("d/m/Y") }}</td>
            <td>{{ record.from }}</td>
            <td>{{ record.title }}</td>
            {% if record.description %}
              <td>{{ record.description }}</td>
            {% else %}
              <td>-</td>
            {% endif %}
            <td>{{ record.difference }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<script src="/js/account.js"></script>

{% include "./footer.html" %}
