{% include "./header.html" %}

<div class="row" style="margin: 10px;">
  <div class="col s12 grey darken-3 container-shadow">
    <h3 class="center">Welcome to the site!</h3>
    <p class="center">This is the site that manages the Twoos system for the /r/Twitch subreddit. This page explains some basic information below. If you have any questions, take a look at the <a href="faq">FAQ page</a>!</p>
  </div>
</div>

<div class="row" style="margin: 10px;">
  <div class="col s6 grey darken-3 container-shadow" style="border-right: #212121 solid 5px;">
    <h3 class="center">Uses of Twoos</h3>
    <p>Currently, Twoos will give you a bits flair on Reddit that gets progressively better as you gain more and more of them. This will make your posts and comments stand out more from the others, as a bits badge would do on Twitch. Also, you will be assigned additional Discord roles as you work your way up, each giving you a different username colour to make you stand out! We are looking to expand this in the future to more systems, possibly including TwitchDB and Community Events on /r/Twitch.</p>
  </div>
  <div class="col s6 grey darken-3 container-shadow" style="border-left: #212121 solid 5px;">
    <h3 class="center">Purpose of Twoos</h3>
    <p>The purpose of the Twoos system is to encourage users in the community to help each other out more. Also, it allows those who do help out to be rewarded and recognised for their work. Similarly to the purpose of the Community Helpers role, the community will know someone's information is reliable. We also done our best to ensure that the system is fair and available to everyone where possible. We're proud to have a diverse community and we want this system to continute to promote it.</p>
  </div>
</div>

<div class="row" style="margin: 10px;">
  <div class="col s12 grey darken-3 container-shadow">
    <h3 class="center">Getting Twoos</h3>
    <p>The current ways to get Twoos are in the table below, along with their value. All decisions are taken at the discretion of Subreddit Moderators and Community Helpers.</p>
    <table>
      <tbody>
        <tr>
          <td>Streaming to the /r/Twitch Twitch Community.</td>
          <td>0.25 Twoos per 15 minutes</td>
        </tr>
        <tr>
          <td>Posting a useful guide or news source on the subreddit.</td>
          <td>1 Twoo</td>
        </tr>
        <tr>
          <td>Joining the /r/Twitch Discord Server.</td>
          <td>1 Twoo</td>
        </tr>
        <tr>
          <td>Helping in the /r/Twitch Discord server.</td>
          <td>1 Twoo</td>
        </tr>
        <tr>
          <td>Contributing to a contest.</td>
          <td>1 Twoo</td>
        </tr>
        <tr>
          <td>Winning a contest.</td>
          <td>3 Twoos</td>
        </tr>
        <tr>
          <td>Submitting to the wiki.</td>
          <td>3 Twoos</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

{% include "./footer.html" %}
